*{
     box-shadow: inset 0 0 3px #fd0202;
}

body{
    display: flex;
    justify-content: center;
   

}

#container{
    width: 400px;
    height: 650px;
    background-color: rgb(17, 16, 16);
    border-radius: 5px;
}

#display{
    width: 380px;
    height: 130px;
    margin: 10px;
    background-color: hsla(138, 72%, 39%, 0.541);
    border-radius: 10px;
    color: black;
    text-align: right;
    font-size: 48px;
}

#displayTop{
    height: 34%;
}

#displayBottom{
    height: 66%;
}

#upperRow{
    width: 400px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

#lowerRow{
    width: 400px;
    height: 300px;
    display: flex;

}

#lowerRowLeft{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;  
}

#leftFieldTop{
    width: 300px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

#leftFieldBottom{
    width: 300px;
    height: 100px;
    display: flex;
}

#lowerRowRight{
    width: 100px;
    height: 300px; 
    display: flex;  
    flex-direction: column;
}

.small{
    width: 80px;
    height: 80px; 
    background-color: rgb(146, 138, 138);
}

.big{
    width: 80px;
    height: 180px;
    background-color: rgb(218, 92, 19);
}

.bigHorizontal{
    width: 180px;
    height: 80px;
    background-color: rgb(146, 138, 138);
}

.small, .big, .bigHorizontal{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    margin: 10px 10px 10px 10px;   
    border-radius: 5px;
}

.small:active, .big:active, .bigHorizontal:active{
    scale: 0.97;
}