*{
    border: red 1px solid;
}

body{
    display: flex;
    justify-content: center;

}

#container{
    width: 400px;
    height: 600px;

}

#display{
    width: 380px;
    height: 100px;
    margin: 10px;
}
